doctype html 
html
  head
    title Welcome of fruitZ
    block style 
    block scripts
      script(src='/jquery.js')
  body
    nav#navbar
        ul
            div#logo
               
                | fruitZ
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Delivery Slots]
            li #[a(href="/Contact") Contact] 
    block content
    block foot
    footer#footer         
        
        | Copyright © 2023 www.fruitZ.com | All Rights Reserved 

        |  |Developed by Aditya Anand