doctype html
html
  head
    title Welcome to fruitZ
    style
      include ../static/style.css
  body
    nav#navbarv 
        ul
            div#logo
                img(src=" /static/logo1.jpg")
                | fruitZ
            li #[a(href="/") Home]
            li #[a(href="/Contact") About]
            li #[a(href="/") Services]
            li #[a(href="/") Delivery Slots]
            li #[a(href="/") Contact]    
  section#introSection
        div Welcome to fritZ
        div.small Thinking of fruit Think fruitZ
        
  section#missionSection
        h2 Our Mission
        div.card
            h3 Orgnically Grown
            div.card-box
               div.card-content
                    p We get fruits directly from farmers

        div.card
            h3 Door Delivery
            div.card-box
               
                div.card-content
                    p We deliver directly to your doorstep

        div.card
            h3 Customer Service
            div.card-box
                

                div.card-content
                    p We give priority service to our customers             
  section#sponsorsSection
                h2 Our Sponsors
                div#sponsors 
                      
                      img(src="GitHub.png")
                      img(src= "mc.png")
                      img(src= "paytm.png")
                      img(src= "visa.png")
                      
  footer#footer         
        
        | Copyright © 2023 www.fruitZ.com | All Rights Reserved 

        |  |Developed by Aditya Anand